.tags-container {
    display: inline-flex;
    background-color: var(--color-secondary-dark);
    border-radius: 30px;
    padding: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.tag {
    margin: 0;
}

.tag:not(:last-child) {
    padding-right: 4px;
}
