.profile-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 0 auto;
    padding: 18px 20px;

    grid-gap: 16px;
    align-self: center;
    height: 80vh;
    background-color: var(--color-container);
    border-radius: 16px;
}

.profile--image-container {
    align-self: start;
    border-radius: 50%;
}

.avatar {
    margin: 10px auto;
    border-radius: 50px;
}

.data-container {
    max-width: 840px;
}

.name .email .description {
    margin: 16px 0 0 0;
}

.start-tinder-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.start-tinder-container__button {
    margin-top: 16px;
    align-self: flex-end;
}

.name,
.email,
.description {
    color: var(--color-secondary);
}

.description-container {
    border-radius: 30px;
    display: flex;
}

.description-container__edit-button {
    background-color: transparent !important;
    border: none;
}

.edit-button__icon {
    fill: var(--color-secondary);
}

.data-container__edit-about-container {
    margin: 16px 0;
}

.data-container__edit-about__text {
    font-family: 'Inter';
    padding: 8px 8px;
    width: 840px;
    border-radius: 5px;
    font-size: 1.17em;
    font-weight: bold;
    background-color: var(--color-input);
    border: 1px solid var(--color-secondary-dark);
}

.data-container__edit-about__submit-button {
    margin-top: 16px;
}
