.login-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-gap: 16px;
    align-self: center;
    background-color: var(--color-container);
    border-radius: 40px;
}

.aside {
    border-radius: 0px 40px 0 40px;
    align-self: start;
    overflow: hidden;
    position: relative;
}

.aside__header {
    position: absolute;
    left: 30px;
    z-index: 1;
}

.aside__switch-container {
    position: absolute;
    right: 26px;
    bottom: 26px;
    z-index: 1;
}

.aside__switch-container__button {
    height: 40px;
    min-width: 80px;
    border-radius: 10px;
    background-color: var(--color-white);
    color: var(--color-input);
    font-weight: 600;
    border: none;
    font-size: 14px;
}

.image-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.background-image {
    /* object-fit: cover; */
    border-radius: 0 40px 0 0;
}

.form-container {
    align-self: center;
    justify-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 840px;
}

.login-form__header {
    align-self: start;
}

.login-form__signin-button {
    margin-top: 40px;
    width: 100%;
    min-height: 34px;
    padding: 8px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--color-secondary-dark);
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: var(--color-input);
    color: var(--color-white);
}

p {
    align-self: start;
}

input {
    width: 310px;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 16px;
    background-color: var(--color-input);
    border: 1px solid var(--color-secondary-dark);
}

input::placeholder {
    font-size: 12px;
    color: var(--color-secondary-dark);
}
