.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navigation--image-container--avatar {
    border-radius: 50%;
}

a {
    text-decoration: inherit;
    color: inherit;
}
