.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navigation--image-container--avatar {
    position: relative;
    border-radius: 50%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.red-dot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(144, 0, 255);
    z-index: 2;
}

.red-dot__notification-number {
    font-size: 12px;
}
